  *{
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
  }
  p {
    color: hsl(218, 22%, 67%);
    font-size: 16px;
    margin: 0;
    line-height: 24px;
  }
  h1 {
    color: hsl(179, 62%, 43%);
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 14px 0;
  }
  .main h2 {
    color: hsl(71, 73%, 54%);
  }

  .half h2 {
    color: white;
    margin-bottom: 18px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    color: hsl(204, 43%, 93%);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  span {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin: 0 14px 0 0;
    padding: margin: 0 0 16px 0;

  }

  button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 16px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
}

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  .centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrapper {
    width: 636px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main {
    background-color: white;
    width: 100%;
    padding: 40px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .half {
    width: 50%;
    padding: 40px 39px;
  }

  .left {
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 8px;
  }

  .right {
    background-color: #33cccc;
    border-bottom-right-radius: 8px;
  }

  .left p {
    color: white;
  }

  .container {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 15px;
  }

  .container p {
    height: auto;
    margin: 0;
  }

@media all and (max-width:634px) {
  .wrapper{
    width: 375px;
  }
  .half {
    width: 100%;
  }
  .left {
    border-bottom-left-radius: 0;
  }
  .right {
    border-bottom-left-radius: 8px;
  }
}
