/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

  *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    color: white;
  }
  p {
    font-size: 16px;
    margin: 0;
    line-height: 24px;
    font-weight: 400;
  }
  h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 12px 0;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 12px 0;
  }

  .half h2 {
    margin-bottom: 18px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  span {
    display: block;
    font-size: 31px;
    font-weight: 700;
    margin: 0 14px 0 0;
  }

  button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    padding: 15px 32px;
    margin-top: 28px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    color: white;
}

  .cyan-font {
    color: hsl(179, 62%, 43%);
  }

  .cyan-background {
    background-color: hsl(179, 62%, 43%);
  }

  .bright-yellow-font {
    color: hsl(71, 73%, 54%);
  }

  .light-gray-background {
    background-color: hsl(204, 43%, 93%);
  }

  .grayish-blue-font {
    color: hsl(218, 22%, 67%);
    }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  .centering {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .wrapper {
    width: 636px;
    margin: 0 auto;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main {
    background-color: white;
    width: 100%;
    padding: 40px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .half {
    width: 50%;
    padding: 40px 39px;
  }
  .left {
    border-bottom-left-radius: 8px;
  }
  .right {
    background-color: #33cccc;
    border-bottom-right-radius: 8px;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-bottom: 5px;
  }
  .container p {
    height: auto;
    margin: 0;
  }
@media all and (max-width:634px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
  .wrapper{
    width: 312px;
  }
  .main {
    padding: 24px;
  }
  .half {
    width: 100%;
  }
  .left {
    border-bottom-left-radius: 0;
    padding: 24px;
  }
  .right {
    border-bottom-left-radius: 8px;
    padding: 24px;
  }
  .centering {
    align-items: flex-start;
  }
  .heading-padding {
    padding-top: 4px;
  }
  .paragraph-padding {
    padding: 9px 0 16px 0;
  }
}
